<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>user registration form..</h1>
      <h1>name: <%=student.name %></h1>

        <%  if(student.age>=18){ %>
        <h1>vote de sakta h </h1>
       <%       }else{ %>
        <h1>vote nahi de sakta h</h1>
      <% }%>


</body>
</html>